<div
  v-on:click="hideMenus"
  class="wrapper no-select">

  <div class="date-nav">
    <span class="date-nav-btn" v-on:click="() => navMonth(-1)">
      [  < ]
    </span>
    <span class="date-nav-btn" v-on:click="() => navMonth(1)">
      [ >  ]
    </span>
  </div>

  <h1>{{ MONTH_NAMES[currentMonth] }} {{ currentYear }}</h1>

  <div class="calendar-container">
    <div class="view-month">

      <div
        class="day-header"
        v-for="dayName in DAY_NAMES">
        {{ dayName }}
      </div>

      <div
        class="day day-prev-month"
        v-for="day in getDaysOfMonthData(-1)"
        :dayNum="day.num"
        :monthNum="currentMonth - 1"
        v-on:click="catchClickOnDay">
        <div class="day-num-header">{{ day.num }}</div>
      </div>

      <div
        class="day day-current-month"
        v-for="day in getDaysOfMonthData()"
        :dayNum="day.num"
        :monthNum="currentMonth"
        v-on:dblclick="catchDblClickOnDay"
        v-on:click="catchClickOnDay">
        <div
          class="day-num-header">
          {{ day.num }}
        </div>

        <div class="event-list">
          <div v-on:dblclick="onDblClickEvent" class="event">lalala</div>
          <div v-on:dblclick="onDblClickEvent" class="event">lalala</div>
          <div v-on:dblclick="onDblClickEvent" class="event">lalala</div>
          <div v-on:dblclick="onDblClickEvent" class="event">lalala</div>
          <div v-on:dblclick="onDblClickEvent" class="event">lalala</div>
          <div v-on:dblclick="onDblClickEvent" class="event">lalala</div>
          <div v-on:dblclick="onDblClickEvent" class="event">lalala</div>
          <div v-on:dblclick="onDblClickEvent" class="event">lalala</div>
          <div v-on:dblclick="onDblClickEvent" class="event">lalala</div>
        </div>

      </div>

      <div
        class="day day-prev-month"
        v-for="day in getDaysOfMonthData(1)"
        :dayNum="day.num"
        :monthNum="currentMonth + 1"
        v-on:click="catchClickOnDay">
        <div class="day-num-header">{{ day.num }}</div>
      </div>

    </div>
  </div>

  <transition name="fade">
    <new-event
      v-if="newEventMenuDisplayed"
      :style-position="newEventMenuStylePosition"
      :date="currentDateSelected"
    />
  </transition>

</div>