<div
  v-on:click="hideMenus"
  class="wrapper no-select">

  <div class="calendar-header">
    <h1 class="month-year">{{ MONTH_NAMES[currentMonth] }} {{ currentYear }}</h1>

    <div class="date-nav">
      <span class="date-nav-btn" v-on:click="() => navMonth(-1)">
        [  < ]
      </span>
      <span class="date-nav-btn" v-on:click="() => navMonth(1)">
        [ >  ]
      </span>
    </div>
  </div>

  <div class="calendar-main">
    <div class="view-month">

      <div
        class="day-header"
        v-for="dayName in DAY_NAMES">
        {{ dayName }}
      </div>


      <div
        v-for="day in displayedDays()"
        :dayNum="day.dayNum"
        :monthNum="day.monthNum"
        :year="day.year"
        v-on:dblclick="catchDblClickOnDay"
        v-on:click="catchClickOnDay"
        :class=dayStyleClass(day.monthDiff)>
        <div
          class="day-num-header">
          {{ day.dayNum }}
        </div>

        <div class="event-list">
          <event
            v-for="event in day.events"
            :eventData="event"
            :key="event.id"
            @open-pop-up-with-event-data="openPopUpWithEventData"
          />
        </div>
      </div>


    </div>
  </div>

  <event-pop-up
    v-if="eventPopUpDisplayed"
    :style-position="eventPopUpStylePosition"
    :date="currentDateSelected"
    :event-data="selectedEventData"
  />

</div>