<div class="wrapper no-select">

  <div class="date-nav">
    <span class="date-nav-btn" v-on:click="() => navMonth(-1)">
      [  < ]
    </span>
    <span class="date-nav-btn" v-on:click="() => navMonth(1)">
      [ >  ]
    </span>
  </div>

  <h1>{{ MONTH_NAMES[currentMonth] }} {{ currentYear }}</h1>

  <div class="calendar-container">
    <div class="view-month">

      <div
        class="day-header"
        v-for="dayName in DAY_NAMES">
        {{ dayName }}
      </div>

      <div
        class="day day-prev-month"
        v-for="day in getDaysOfMonthData(-1)"
        v-bind:dayNum="day.num"
        v-bind:monthNum="currentMonth - 1"
        v-on:click="catchClickOnDay">
        <span class="day-num">{{ day.num }}</span>
      </div>

      <div
        class="day day-current-month"
        v-for="day in getDaysOfMonthData()"
        v-bind:dayNum="day.num"
        v-bind:monthNum="currentMonth"
        v-on:click="catchClickOnDay">
        <span class="day-num">{{ day.num }}</span>
      </div>

      <div
        class="day day-prev-month"
        v-for="day in getDaysOfMonthData(1)"
        v-bind:dayNum="day.num"
        v-bind:monthNum="currentMonth + 1"
        v-on:click="catchClickOnDay">
        <span class="day-num">{{ day.num }}</span>
      </div>

    </div>
  </div>
</div>