@import "../../../colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;

  .calendar-header {
    display: flex;
    width: 90%;
    margin: 0 auto;

    .date-nav {
      display: flex;
      align-items: center;
      margin-left: auto;

      .date-nav-btn {
        cursor: pointer;
        &:hover {
          background-color: lime;
        }
        &:active {
          background-color: green;
        }
      }
    }
  }

  .calendar-main {
    $current-month-day-color: pink;
    $adjacent-month-day-color: rgb(255, 241, 243);
    $day-num-header: rgb(199, 244, 255);
    $day-name-header: rgb(238, 238, 238);

    margin: 1em;
    display: flex;
    justify-content: center;

    .view-month {
      display: grid;
      width: 90%;
      grid-template-columns: repeat(7, 1fr);

      grid-template-rows: [row] auto;
      grid-gap: 2px;

      .day-header {
        height: 2em;
        background-color: $day-name-header;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 0.5em;
      }

      .day {
        height: 8em;
        padding-top: 1.6em;
        position: relative;
        $pad-h: 0.25em;
        padding-right: $pad-h;
        padding-left: $pad-h;

        .day-num-header {
          position: absolute;
          display: inline-block;
          top: 0;
          right: 0;
          background-color: $day-num-header;
          width: 100%;
          text-align: right;
          padding-right: 0.5em;
        }

        .event-list {
          overflow-y: auto;
          height: 100%;
          width: 100%;
        }
      }

      .day-current-month {
        background-color: $current-month-day-color;
      }

      .day-adjacent-month {
        background-color: $adjacent-month-day-color;
      }
    }
  }
}