.color-new {
  background-color: rgba(0, 255, 255, 0.74);
}
.color-new-text {
  color: blue;
}


.color-in-progress {
  background-color: rgba(255, 166, 0, 0.75);
}
.color-in-progress-text {
  color: orange;
}


.color-needs-billing {
  background-color: rgba(255, 0, 0, 0.75);
}
.color-needs-billing-text {
  color: red;
}


.color-bill-sent {
  background-color: rgba(0, 255, 0, 0.75);
}
.color-bill-sent-text {
  color: green;
}


.color-all-complete {
  background-color: rgba(128, 128, 128, 0.75);
}
.color-all-complete-text {
  color: grey;
}